################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MongoDB/bin/
/MongoDB/obj
/.vs/MongoDB/DesignTimeBuild
/MongoDB.Domain/bin/
/MongoDB.Domain/obj
/MongoDB.Infrastrutcture/bin
/MongoDB.Infrastrutcture/obj
/MongoDBApi/obj
/MongoDBApi/bin
