################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MongoDB/v16
/MongoDB/bin/
/MongoDB/obj
